body {
  font-family: "Times New Roman", Times, serif;
}
#middleTitle {
  position: relative;
  top: 130px;
  font-size: 3.4rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(255, 255, 255);
}
.promotion-container {
  display: flex;
  background: linear-gradient(rgba(20, 40, 55, 0.985), rgba(70, 72, 13, 0.268), rgba(49, 35, 83, 0.766));
  height: 90vh;
  box-shadow: -1px 1px 34px rgba(0, 0, 0, 0.573);
  display: flex;
  gap: 1.4vw;
  border-radius: 20px;
  padding-left: 20px;
  overflow-x: scroll;
  transition: all 3s ease;
}

.promotion-container > div {
  flex: 0 0 auto;
  background: linear-gradient(rgb(23, 36, 66), rgba(37, 70, 96, 0.505), rgba(33, 63, 31, 0.478));
  height: 60vh;
  width: 35vh;
  box-shadow: 1px 1px 34px rgba(0, 0, 0, 0.573);
  margin-top: auto;
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prom-1 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/prom1.jpg");
  background-size: cover;
  background-position: center;
}

#prom-2 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/prom2.jpg");
  background-size: cover;
  background-position: center;
}

#prom-3 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/prom3.jpg");
  background-size: cover;
  background-position: center;
}

#prom-4 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/prom4.jpg");
  background-size: cover;
  background-position: center;
}

#prom-5 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/prom5.jpg");
  background-size: cover;
  background-position: center;
}

#prom-6 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/porm6.jpg");
  background-size: cover;
  background-position: center;
}

#prom-7 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/prom7.png");
  background-size: cover;
  background-position: center;
}

.promotion-container > div:hover {
  /* margin-bottom: 50px; */
  transform: translateY(-3px);
  background: linear-gradient(
    rgba(122, 89, 53, 0.368),
    rgba(167, 105, 19, 0.374),
    rgba(100, 143, 97, 0.653)
  );
  box-shadow: 1px 1px 34px rgba(135, 4, 4, 0.851);
}
.promotion-container > div:active {
  /* margin-bottom: 50px; */
  transform: translateY(-3px);
  background: linear-gradient(
    rgba(123, 108, 91, 0.368),
    rgba(187, 139, 63, 0.692),
    rgba(12, 38, 10, 0.341)
  );
  box-shadow: 1px 1px 34px rgba(244, 241, 241, 0.851);
}

.service-header {
  text-align: center;
  font-size: larger;
  padding: 34px;
}

.service-container {
  background: linear-gradient(rgba(36, 64, 85, 0.733), rgba(70, 72, 13, 0.268), rgba(35, 60, 83, 0.766));

  height: fit-content;
  width: 97.5vw;
  box-shadow: 1px 1px 34px rgba(0, 0, 0, 0.258);
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.service-container .service-content {
  width: 97.5%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.service-container h3 {
  text-align: center;
}

#serv1 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/3d-bar-graph_1083198-567.avif");
  background-size: cover;
  background-position: center;
}

#serv2 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/kids-mobile-phone-child-tablet-600nw-2455567141.webp");
  background-size: cover;
  background-position: center;
}
#serv3 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/mentor-770x513.jpg");
  background-size: cover;
  background-position: center;
}

#serv4 {
  background: linear-gradient(
      rgba(190, 203, 183, 0.296),
      rgba(112, 113, 85, 0.368),
      rgba(33, 63, 31, 0.275)
    ),
    url("../gallery/profile/Super\ Mario.jpg");
  background-size: cover;
  background-position: center;
}

.service-content div {
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.204);
  border-radius: 10px;
  margin: auto;
}

.service-content div:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.204);
  transform: translateY(-23px);
}
.about-us-section {
  background-color: rgba(0, 0, 0, 0.119);
  width: 100%;
  height: 50vh;
  box-shadow: -1px -1px 10px rgb(28, 29, 15);
  display: flex;
  margin-top: 34px;
  align-items: center;
}

.about-us-section .about-us-title {
  position: relative;
  flex: 1;
  height: 80%;
  background-color: rgba(66, 60, 69, 0.907);
  display: flex;
  align-items: center;
}

.about-us-section .about-us-description {
  position: relative;
  flex: 3;
  height: 80%;
  background-color: rgba(66, 60, 69, 0.444);
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-middle {
  width: 300px;
  height: 70px;
  position: relative;
  left: 10vw;
  border-radius: 8px 8px 8px 8px;
  background-color: rgb(48, 69, 75);
  z-index: 1;
  box-shadow: 2px 1px 12px rgb(202, 187, 187);
}
.about-us-middle h2 {
  text-align: center;
  color: white;
}

.about-us-description p {
  font-size: larger;
  font-weight: bold;
  width: 60%;
}
